services:
  postgres:
    build:
      context: ./.docker/postgres
      dockerfile: Dockerfile
    container_name: senkou-lentera-cendekia-postgres
    restart: on-failure:2
    ports:
      - "${DB_PORT:-5432}:5432"
    environment:
      - POSTGRES_USER=${DB_USERNAME:-postgres}
      - POSTGRES_PASSWORD=${DB_PASSWORD:-}
      - POSTGRES_DB=${DB_DATABASE:-senkou_lentera_cendekia}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U ${DB_USERNAME:-postgres} -d ${DB_DATABASE:-senkou_lentera_cendekia}",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - senkou_lentera_cendekia_dev_network

  redis:
    build:
      context: ./.docker/redis
      dockerfile: Dockerfile
    container_name: senkou-lentera-cendekia-redis
    restart: on-failure:2
    ports:
      - "${REDIS_PORT:-6379}:6379"
    command:
      ["redis-server", "/usr/local/etc/redis/redis.conf", "--requirepass", "${REDIS_PASSWORD:-yourpassword}"]
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD:-yourpassword}
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD:-yourpassword}", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    networks:
      - senkou_lentera_cendekia_dev_network

volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local

networks:
  senkou_lentera_cendekia_dev_network:
    driver: bridge

